
<div class="jumbotron" id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= account.phone %>
  </p>

  <p>
    <strong>Acc bal:</strong>
    <%= account.acc_bal %>
  </p>

</div>
